Label {
    -fx-font-family: Calibri;
}

.dark-gray-background {
    -fx-background-color: #6B6B6B;
}

.round-corners {
    -fx-border-radius: 10px;
}

.gold-border {
    -fx-border-color: #FCBB2D;
}

.blue-border {
    -fx-border-color: #009FE3;
}

.thick-border {
    -fx-border-width: 5px;
}

.thin-border {
    -fx-border-width: 2px;
}

.gold-text {
    -fx-text-fill: #FCBB2D;
}

.blue-text {
    -fx-text-fill: #009FE3;
}

.dark-gray-text {
    -fx-text-fill: #6B6B6B;
}

.light-gray-text {
    -fx-text-fill: #EDEDED;
}

.text-h1 {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.text-h2 {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.text-h3 {
    -fx-font-size: 14pt;
}

.text-h4 {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.underline-text {
    -fx-underline: true;
}

.light-gray-background {
    -fx-background-color: #EDEDED;
}