.root {
    -fx-font-family: Calibri;
    -fx-col1: #222831;
    -fx-col2: #393E46;
    -fx-col3: #FFD369;
    -fx-col4: #EEEEEE;
}

.bc-col1 {
    -fx-background-color: -fx-col1;
}

.bc-col2 {
    -fx-background-color: -fx-col2;

}

.bc-col3 {
    -fx-background-color: -fx-col3;

}

.bc-col4 {
    -fx-background-color: -fx-col4;

}

.round-corners {
    -fx-border-radius: 5px;

}

.border-col1{
    -fx-border-color: -fx-col1;
}

.border-col2 {
    -fx-border-color: -fx-col2;
}

.border-col3 {
    -fx-border-color: -fx-col3;
}

.border-col4 {
    -fx-border-color: -fx-col4;
}

.border-w5 {
    -fx-border-width: 5px;
}

.border-w2 {
    -fx-border-width: 2px;
}

.txt-col1 {
    -fx-text-fill: -fx-col1;
}

.txt-col2 {
    -fx-text-fill: -fx-col2;
}

.txt-col3 {
    -fx-text-fill: -fx-col3;
}

.txt-col4 {
    -fx-text-fill: -fx-col4;
}

.txt-col-red {
    -fx-text-fill: #c00d0d;
}

.text-h1 {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.text-h2 {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.text-h3 {
    -fx-font-size: 14pt;
}

.text-h4 {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.txt-underline {
    -fx-underline: true;
}

#lblWrongLogin {
    visibility: hidden;
}

.txt-bold {
    -fx-font-weight: bold;
}

.font-s14 {
    -fx-font-size: 14pt;
}

.font-s12 {
    -fx-font-size: 12pt;
}