.root {
    -fx-background-color: #EDEDED;
}

Label {
    -fx-font-size: 14pt;
}

.interactive {
    -fx-text-fill: #6B6B6B;
    -fx-background-color: #EDEDED;
    -fx-border-color: #FCBB2D;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

#loginbutton {
    -fx-font-size: 20pt;
}

#title {
    -fx-font-size: 20pt;
    -fx-border-radius: 25px;
    -fx-border-color: #009FE3;
    -fx-border-width: 5px;
}